{% extends "AppCoder/padre.html" %}

{% load static %}
{% block section_name %}
<h3>Profesores</h3>
{% endblock %}
{% block contenidoQueCambia %}
<h3>Página de Estudiantes Editados</h3>

{%for estudiante in object_list %}

<li>{{estudiante}}</li>

<button>
    <a href="{% url 'estudiante_detalle' estudiante.id %}"> Detalle</a>
</button>

<button>
    <a href="{% url 'estudiante_editar' estudiante.id %}"> Editar</a>
</button>

<button>
    <a href="{% url 'estudiante_eliminar' estudiante.id %}"> Borrar</a>
</button>

{% endfor %}

<br>
<button>
    <a href="{% url 'estudiante_crear' %}"> Crear</a>
</button>

{% endblock %}